
  <div class="row">
    <div class = "col-lg-2 col-md-2 col-sm-2 col-2 sidebar">
      <div class="page-title">
        <i class="fas fa-tasks "> 課題管理</i>
      </div>
      <%= render "manager/members/sideber", members: @members %>
    </div> 
    <!--sidebar-------------------------->
    <div class = "col-lg-2 col-md-2 col-sm-2 col-2 "></div>
    <!--card----------------------------------->
    <div class="col-lg-10 col-md-10 col-sm-10 col-10 mt-3">
    <div class="card shadow rounded-start" style="height:100%;">
      <div class="card-header">
        <h6 class="m-0 font-weight-bold title">課題管理</h6>
      </div>  
      <div class="card-body" >  
        <%= render partial: "manager/members/task", locals: { task_new: @task_new, task: @task,tasks: @tasks,member_id: @member_id }%>
        <div class="task-message">
          <%= render "manager/members/task_body", task: @task,tasks: @tasks%>
        </div>
      </div>
    </div>  
  </div>
    </div>


