$('.task-message').html(' <%= j(render "manager/members/task_body", task: @task,tasks: @tasks )%>');
<!--$('#flash-message').html('<div class="alert alert-success">課題の更新が完了しました</div>')-->
<!--setTimeout(function(){$("#flash-message").fadeOut('slow')}, 5000);-->