
  <div class="row">
    <div class = "col-lg-2 col-md-2 col-sm-2 col-2 sidebar">
      <div class="page-title">
        <i class="fas fa-chart-pie "> 能力管理</i>
      </div>
      <%= render "manager/members/sideber", members: @members %>
    </div>
      <!--sidebar-------------------------->
    <div class = "col-lg-2 col-md-2 col-sm-2 col-2"></div>
      <!--card----------------------------------->
    <div class="col-lg-10 col-md-10 col-sm-10 col-10">
      <div class="container">
        <div class="row">
          <div class ="col-lg-7 col-sm-12 h-100">
            <%= render "manager/members/ability"%>
          </div>
          <div class="col-lg-5 col-sm-12 h-100">
            <div class="card shadow rounded-start mt-3 ml-3 w-100" >
              <div class="card-header">
                <h6 class="m-0 font-weight-bold title">能力ステータス</h6>
              </div>
              <div class="card-body">
                <canvas id="myChart" height="100%" width="100%"></canvas>
              </div>
            </div>
          </div>  
        </div>
      </div>  
    </div>
  </div>  
     
        
  <%= render partial: "manager/members/chart", locals: { ability_titles: @ability_titles, abilities: @abilities }%>