<div class="container-fluid">
  <div class="row">
    <div class = "col-md-2 sidebar">
      <div class="page-title">
        <i class="fas fa-book-reader "> Education</i>
      </div>
      <%= render "manager/members/sideber", members: @members %>
    </div> 
    <div class ="col-md-10">
      <div class="row mr-1 ml-1 mt-3">
        <div class="card shadow rounded-start"style="width: 100%">
          <div class="card-header">
            <h6 class="m-0 font-weight-bold title">Education</h6>
          </div>  
          <div class="card-body">  
             <%= render partial: "manager/members/education", locals: { education_new: @education_new, educations: @educations,education: @education,member_id: @member_id }%>
          </div>
        </div>  
      </div>  
    </div>
  </div>
</div>  