<div class="row" style="height: 100%">
  <!--sidebar-------------------------->
  <div class = "col-lg-2 col-md-2 col-sm-2 col-2 sidebar">
    <div class="page-title">
      <i  class="far fa-question-circle">　使い方</i>
    </div>
    <ul class="text-nowrap" style="font-size:22px;">
      <li class="m-4"><a href="#anc1"  class="text-white p-3">店舗登録</a></li>
      <li class="m-4"><a href="#anc1"  class="text-white p-3">メンバー追加</a></li>
      <li class="m-4"><a href="#anc1"  class="text-white p-3"></a></li>
      <li class="m-4"><a href="#anc1"  class="text-white p-3">店舗連絡</a></li>
      <li class="m-4"><a href="#anc1"  class="text-white p-3">教育管理</a></li>
      <li class="m-4"><a href="#anc1"  class="text-white p-3">課題管理</a></li>
      <li class="m-4"><a href="#anc1"  class="text-white p-3">能力管理</a></li>
      <li class="m-4"><a href="#anc1"  class="text-white p-3">メッセージ</a></li>
    </ul>
  </div>
  <!--sidebar-------------------------->
  <div class = "col-lg-2 col-md-2 col-sm-2 col-2"></div>
  <!--card----------------------------------->
  <div  class="col-lg-10 col-md-10 col-sm-10 col-10 pt-5">
    <a id="anc1" class="anchor"></a>
     <div id="店舗登録"class="card shadow rounded-start mt-5 " style="width: 100%">
          <div class="card-header">
            <h6 class="m-0 font-weight-bold title"></h6>
          </div>  
          <div class="card-body-board" > 
          </div>
        </div> 
  </div>
</div>  