  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3 ">
            <h4 class="my-0 fw-normal">マネジャー</h4>
          </div>
          <img class="card-img-top" src="assets/figure_one_blue.jpg">
          <div class="card-body">
            <h1 class="card-title "><small class="text-muted fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">
              <%= link_to "新規登録" ,new_manager_registration_path %>
            </button>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">
              <%= link_to "ログイン" ,new_manager_session_path %>
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3 ">
            <h4 class="my-0 fw-normal">メンバー</h4>
          </div>
          <img class="card-img-top" src="assets/figure_group_blue.jpg">
          <div class="card-body">
            <h1 class="card-title "><small class="text-muted fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">
              <%= link_to "ログイン" ,new_member_session_path %>
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3 ">
            <h4 class="my-0 fw-normal">ゲスト</h4>
          </div>
          <img class="card-img-top" src="assets/figure_one_white">
          <div class="card-body">
            <h1 class="card-title "><small class="text-muted fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">
              <%= link_to "ログイン" ,"#" %>
            </button>
          </div>
        </div>
      </div>
      
    </div>