<div class="row" >
  <div class = "col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-4 member-sidebar">
    <%= render "sidebar" %>
  </div>
  <!--sidebar-------------------------->
  <div class = "col-xl-2 col-lg-3 col-md-3 col-sm-4 col-xs-4"></div>
  <!--card----------------------------------->
  <div class="col-xl-10 col-lg-9 col-md-9 col-sm-8 col-xs-8">
    <div class= "row ml-1 mt-2 ml-2">
      <div class="card shadow rounded-start mt-3"style="width: 100%">
        <div class="card-header">
          <h6 class="m-0 font-weight-bold title">課題項目一覧</h6>
        </div>  
        <div class="card-body">  
          <%= render partial: "member/members/task", locals: { tasks: @tasks,task: @task,member_id: current_member.id  } %>
        </div>
      </div>
    </div>  
    <div class= "row ml-1 mt-3 ml-2">
      <div class="card shadow rounded-start" style="width: 100%">
        <div class="card-header">
          <h6 class="m-0 font-weight-bold title">教育項目一覧</h6>
        </div>  
        <div class="card-body">  
          <%= render partial: "member/members/education", locals: { educations: @educations,education: @education,member_id: current_member.id  }%>
        </div>
      </div>
    </div>  
  </div>
</div>  

 