/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
.notice {
  text-align: center;
  font-weight: bold;
  color: #606060;
  border: 1px solid #007fff;
  background-color: #dbedff;
  border-radius: 5px;
}

.alert {
  text-align: center;
  font-weight: bold;
  color: #606060;
  border: 1px solid #FF0000;
  background-color: #ffdbed;
  border-radius: 5px;
  padding: 0;
}

body{
 background-color: #ebebeb;
}
//------------------header------------------------------

header{
  .sidebar{
  background-color: #008cff;
  color: #fff;
    a{
    color: #fff;
    } 
    .name{
      border-bottom: solid;
      padding : 10px; 
      text-align: center;
      margin: 0 auto;
      font-size: 25px;
      border-color: #fff;
    }
  }
  
  .navbar{
    background-color: #fff;
  }
}  
  .btn-primary{
    text-align: left;
    background-color: #fff;
    margin: 10px;
    color :#5a5c69;
    padding: 15px 0px 15px 15px;
    border: 0 none;
    border-left: 10px solid #008cff;
    width: 250px;
    font-size: 20px;
    letter-spacing: 1px;
  }  
    .btn-primary:hover, .btn-primary:focus, 
    .btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active.focus,
    .btn-primary.active, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.active.focus,
    .open > .dropdown-toggle.btn-primary, 
    .open > .dropdown-toggle.btn-primary:hover,
    .open > .dropdown-toggle.btn-primary:focus, 
    .open > .dropdown-toggle.btn-primary.focus,
    .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
    .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
    .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus
    {
    background: #ccd9ff; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: #12141a; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
    }
     
   
//------------------header------------------------------

#myChart{
   background-color: #fff; 
  font:  1.2em "Fira Sans", sans-serif;

}

//---------------card-----------------------
.card{
  border-left: 7px solid #008cff;
  .card-header{
  font:  1.2em "Fira Sans", sans-serif;
  color: #008cff;
  background-color: #F8F9FC;
  }
  img{
    height: auto;
  }
  .card-body{
  background-color: #fff;  
  }
}
//---------------card-----------------------
//---------------sidebar-----------------------

.sidebar{
  background-color: #008cff;
  color: #fff;
  .page-title{
    border-bottom: solid;
    padding : 20px; 
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    border-color: #fff;
  }
  .sub-title{
    font-size: 25px;
    padding : 20px; 
    text-align: center;
    margin: 0 auto;
    font-size: px;
    border-color: #fff;
    border-bottom: solid;
  }
  .nonborder-title{
    font-size: 25px;
    padding : 20px; 
    text-align: center;
    margin: 0 auto;
    font-size: px;
    border-color: #fff;
    
  }
  .nav {
    color: #fff;
  }
  .nav-item {
    font-size: 20px;
    text-align: center;
    padding : 5px; 
    color: #fff;
    
  }
}
//---------------sidebar-----------------------
//---------------member-sidebar----------------
.member-sidebar{
  background-color: #008cff;
  .page-title{

    padding : 20px; 
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    border-color: #fff;
    color: #fff;
  }
  .nonborder-title{
    font-size: 25px;
    padding : 20px; 
    text-align: center;
    margin: 0 auto;
    font-size: px;
    border-color: #fff;
    
  }
  .nav {
    color: #fff;
  }
  .nav-item {
    font-size: 20px;
    text-align: center;
    padding : 5px; 
    color: #fff;
    
  }
//---------------member-card-----------------------
.card{
  border: 7px solid #008cff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  .card-header{
  font:  1.5em "Fira Sans", sans-serif;
  font-size: 2em;
  color: #008cff;
  background-color: #F8F9FC;
  
  }
  img{
    height: auto;
  }
  .card-body{
  background-color: #fff;
  
  }
}

//---------------member-card------------------
}
//---------------member-sidebar----------------

.item_image_btn{
    display: none;
}

#img_field {
  font-size: 25px;
  font-style: inherit;
  margin: 0 auto;
  color: white;
  background-color: #5bc0de;
  border-radius: 5px;
  width: 300px;
  height: 40px;
  text-align: center;
  line-height: 40px;

    .btn:hover, .btn:focus, 
    .btn:active, .btn:active:focus, .btn:active:hover, .btn:active.focus,
    .btn.active, .btn.active:focus, .btn.active:hover, .btn.active.focus,
    .open > .dropdown-toggle.btn, 
    .open > .dropdown-toggle.btn:hover,
    .open > .dropdown-toggle.btn:focus, 
    .open > .dropdown-toggle.btn.focus,
    .btn.disabled:hover, .btn[disabled]:hover, fieldset[disabled] .btn:hover,
    .btn.disabled:focus, .btn[disabled]:focus, fieldset[disabled] .btn:focus,
    .btn.disabled.focus, .btn[disabled].focus, fieldset[disabled] .btn.focus
    {
    background: #ccd9ff; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: #12141a; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
    }
     
}