/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
.notice {
  text-align: center;
  font-weight: bold;
  color: #606060;
  border: 1px solid #007fff;
  background-color: #dbedff;
  border-radius: 5px;
}

.alert {
  text-align: center;
  font-weight: bold;
  color: #606060;
  border: 1px solid #FF0000;
  background-color: #ffdbed;
  border-radius: 5px;
  padding: 0;
}
body{
 background-color: #f2f2f2;
 font-family: 'Noto Sans JP', sans-serif;
}

//------------------header------------------------------
header{
.wrap {
  width: 100%;
  // max-width: 800px;
  margin: 0 auto;
}

#tab-menu {
  margin: 0;
  display: flex;
  padding: 0px;
  font-size: 20px;
  padding: 0px 20px 0px 20px;
}

#tab-menu li {
  list-style-type: none;
  width: 100%;
  white-space: nowrap;
  text-align: center;
 
  
}

// li a{
  
//   color: #f2f2f2;
//   text-decoration: none;
//   display: block;

//   text-align: center;
//   background: #0091DC;
//   // border: 1px solid #0091DC;
//   border-bottom: none;
//   white-space: nowrap;

   
// }
.active a{
  background-color: #f2f2f2;
  color:#0091DC;
}
li a {
  color: #f2f2f2;
  background: #0091DC;
  padding: 20px 20px 20px 20px;
  white-space: nowrap;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
  border-top: solid 2px #0091DC;
  border-left: solid 2px #0091DC;
  border-right: solid 2px #0091DC;
}

li a:before {
  
  background-color: #f2f2f2;
  color:#0091DC;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  // background-color: #33bbff;
  transition: all 0.3s;
  z-index: -1;
}
li a:hover {
  color:#0091DC;
}
li a:hover:before {
  width: 100%;
}





//---------------------------------



  .sidebar{
  background-color: #0091DC;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  margin-bottom: 0;
  top: 10px;
  z-index: 1;
   .logo{
     font-size: 20px;
   }
 
    a{
    color: #fff;
      span{
     font-size: 28px;
   }
    } 
  } 
  
  
  .row{
    background-color: #0091DC; 
    padding: 0 0 0 0;
  }
}

  .btn-primary{
    text-align: left;
    background-color: #fff;
    margin: 5px 0 5px 0;
    color :#5a5c69;
    padding: 10px 0px 10px 10px;
    border: 0 none;
    border-left: 5px solid #6C757D;
    width: 100%;
    letter-spacing: 1px;
    //border-style: outset;//
    box-shadow: 1px 6px 15px #808080 ;
  }  
    .btn-primary:hover, .btn-primary:focus, 
    .btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active.focus,
    .btn-primary.active, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.active.focus,
    .open > .dropdown-toggle.btn-primary, 
    .open > .dropdown-toggle.btn-primary:hover,
    .open > .dropdown-toggle.btn-primary:focus, 
    .open > .dropdown-toggle.btn-primary.focus,
    .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
    .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
    .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus
    {
    background: #ccd9ff; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: #12141a; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
    }
     
   
//------------------header------------------------------

#myChart{
   background-color: #fff; 
  font:  1.2em "Fira Sans", sans-serif;

}

//---------------card-----------------------
.card{
  
  .card-header{
  font:  2em "Fira Sans", sans-serif;
  color: #008cff;
  background-color: #e9ebfc;
  border-left: 5px solid #0091DC;
  }
  img{
    width: auto;
  }
  .card-body{
  background-color: #fff;
  width: 100%;
  }
}
//---------------card-----------------------
//---------------sidebar-----------------------

.sidebar{
  background-color: #0091DC;
  color: #fff;
  .page-title{
    border-bottom: solid;
    padding : 5px; 
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    border-color: #fff;
  }
  .sub-title{
    font-size: 20px;
    padding : 5px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    border-color: #fff;
    border-bottom: solid;
  }
  .nonborder-title{
    font-size: 15px;
    padding : 5px;
    text-align: center;
    margin: 0 auto;
    font-size: px;
    border-color: #fff;
    
  }
  .nav {
    color: #fff;
  }
  .nav-item {
    font-size: 20px;
    text-align: center;
    padding : 5px; 
    color: #fff;
  }
  
  .btn-outline-primary{
    height: 25px;
    border: 1px solid #fff;
    color: #6C757D;
  }
}
//---------------sidebar-----------------------
//---------------member-sidebar----------------
.member-sidebar{
  background-color: #008cff;
  .page-title{

    padding : 20px; 
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    border-color: #fff;
    color: #fff;
  }
  .nonborder-title{
    font-size: 25px;
    padding : 20px; 
    text-align: center;
    margin: 0 auto;
    font-size: px;
    border-color: #fff;
    
  }
  .nav {
    color: #fff;
  }
  .nav-item {
    font-size: 20px;
    text-align: center;
    padding : 5px; 
    color: #fff;
    
  }
//---------------member-card-----------------------

#myChart{
  font-size: 25px;

}
.card{
  border: 7px solid #008cff;
  position: absolute;
  top: 0;
  left: 0;
  .card-header{
  font:  1.5em "Fira Sans", sans-serif;
  font-size: 2em;
  color: #008cff;
  background-color: #F8F9FC;
  
  }
  // img{
  //   height: auto;
  // }
  .card-body{
  background-color: #fff;
  
  }
}

//---------------member-card------------------
}
//---------------member-sidebar----------------

.item_image_btn {
    display: none;
}

#img_field {
  font-size: 15px;
  margin: 0 auto;
  color: white;
  background-color: #6C757D;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  
}

    #img_field:hover, #img_field:focus, 
    #img_field:active, #img_field:active:focus, #img_field:active:hover, #img_field:active.focus,
    #img_field.active, #img_field.active:focus, #img_field.active:hover, #img_field.active.focus,
    .open > .dropdown-toggle#img_field, 
    .open > .dropdown-toggle#img_field:hover,
    .open > .dropdown-toggle#img_field:focus, 
    .open > .dropdown-toggle#img_field.focus,
    #img_field.disabled:hover, #img_field[disabled]:hover, fieldset[disabled] #img_field:hover,
    #img_field.disabled:focus, #img_field[disabled]:focus, fieldset[disabled] #img_field:focus,
    #img_field.disabled.focus, #img_field[disabled].focus, fieldset[disabled] #img_field.focus
    {
    background: #495057; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: #fff; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
    }
     
  .members{
    .card-body{
      padding: 0 0;
    }
    p{
      margin: 0;
      font-size: 15px;
      color: #495057;
    }
  }   
  
  .ability-title {
     white-space: nowrap;
  }
  .table.ability {
  text-align: none;
  table-layout: fixed;
  word-wrap: break-word;
  display: flex;
  border: solid 1px #eee;
  padding: 0;
  th{
    
    height: 40px;
    border: solid 1px #eee;
    padding: 5px;
    text-align: center;
  }
  td{
    height: 40px;
    text-align: left;
     border: solid 1px #eee;
     padding-left: 0px;
     padding: 0;
  }
  input{
    text-align: left;
    margin-left: 0;
  }
}

.form-custom{
    width: 40%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

// ----------------------------------------
::placeholder {
  font-style: italic;
   font-size: 1em;
   color: #b7b7b7;   
}
.form-control::placeholder{
  font-style: italic;
   font-size: 1em;
   color: #b7b7b7;  
}


textarea {
  resize: vertical;
  width: 600px;
  height: 100%;
}

.form-custom-group{
    width: auto;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

//チャット機能------------------
.left-message{
  text-align: left;
  margin: 7px 0 7px 0;
  span {
  padding: 0 10px 0px 10px;
  background-color: #e5e5e5;
  color:#000;
  font-size: 17px;
  font: bold;
  border-radius: 10px;
  }
}

.right-message{
  text-align: right;
  margin: 7px 0 7px 0;
  
  
  .message{
    max-width: 60%;
    width: auto;
    margin-left: auto;
    // background-color: #0091DC;
    background-color: rgba(0,145,220,0.7);
    display: inline-block;
    border-radius: 17px;
    padding: 0 10px 0px 10px;
    color:#fff;
    font-size: 17px;
  }
 
}
//チャット機能------------------